body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

h1 {
    color: blueviolet;
    font-size: medium;
  }

h2 {
    color: violet;
    font-size: medium;
  }